body {
    font-family: 'Fredoka One', cursive;
    background-image: url('opanchu.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #393939;
}

.container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8); /* semi-transparent to show background */
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.4);
}

button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #ffd3e2;
    color: #ff7dc4;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.3s;
    font-family: 'Fredoka One', cursive;
}

button:hover {
    background-color: #ffbad1;
}

p {
    font-size: 18px;
    color: #555;
}
